body {
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
    background-image: url("http://crazy-frankenstein.com/free-wallpapers-files/seasonal-wallpapers/summer-nature-wallpapers/looking-over-summer-nature-wallpapers-2560x1440.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
}

a {
    color: rgb(255, 155, 6);
    font-style: italic;
}

.header {
    margin-top: 25vh;
    background-color: rgba(0, 0, 0, 0);
}